.flex {
    display: flex;
}

.j-start {
    justify-content: flex-start;
}

.j-end {
    justify-content: flex-end;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.j-around {
    justify-content: space-around;
}

.a-center {
    align-items: center;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-column {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.f-nowrap {
    flex-wrap: nowrap;
}